<main class="uk-flex uk-container uk-margin-left uk-margin-top main-container">

        {{> search-aside}} 
        
     <section class="uk-container uk-width-1-1 uk-margin-medium-left cards-container uk-margin-bottom uk-margin-top" uk-height-viewport="offset-top:true">        
        <div class="uk-child-width-1-2@m uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <h1 class="uk-text-center">Suggested Movies For You!</h2>
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 4:5; animation: push; autoplay:true; autoplay-interval: 3500; pause-on-hover:true">

                <ul class="uk-slideshow-items">
                    {{#each movies as |movie|}}
                    <li>
                        <a href="#" data-img="{{movie.Poster_Link}}" data-title="{{movie.Series_Title}}" data-overview="{{movie.Overview}}" data-release="{{movie.Released_Year}}" data-genre="{{movie.Genre}}" data-director="{{movie.Director}}" data-cast1="{{movie.Star1}}" data-cast2="{{movie.Star2}}" data-cast3="{{movie.Star3}}" data-cast4="{{movie.Star4}}" data-runtime="{{movie.Runtime}}" data-rating="{{movie.IMDB_Rating}}" data-id="{{movie.id}}">
                            <img src="{{movie.Poster_Link}}" alt="" uk-cover>
                            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                                <h3 class="uk-margin-remove">{{movie.Series_Title}}</h3>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                    uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                    uk-slideshow-item="next"></a>
            </div>
        </div>
    </section>
</main>

<script src="/js/results.js"></script>