<main class="uk-flex uk-container uk-margin-left uk-margin-top main-container">
        {{> search-aside}}
    <section class="uk-container uk-width-1-1 uk-margin-medium-left cards-container" uk-height-viewport="offset-top:true">
        <div class="uk-child-width-1-4@m uk-child-width-1-3@s uk-flex uk-margin uk-flex-center uk-flex-wrap uk-flex-wrap-between uk-text-center">
            {{#each movies as |movie|}}
            <div class="uk-card uk-card-default card-group" data-img="{{movie.Poster_link}}" data-title="{{movie.Series_Title}}" data-overview="{{movie.Overvier}}" data-release="{{movie.Released_Year}}" data-genre="{{movie.Genre}}" data-director="{{movie.Director}}" data-cast-1="{{movie.Star1}}" data-cast-2="{{movie.Star2}}" data-cast-3="{{movie.Star3}}" data-cast-4="{{movie.Star4}}" data-runtime="{{movie.Runtime}}" data-rating="{{movie.IMBD_Rating}}" data-id="{{movie.id}}">
                <div class="uk-card-media-top  uk-padding-small">
                    <img src="{{movie.Poster_Link}}" width="600" onerror="this.src='https://dummyimage.com/200x300/D3D3D3/000000.jpg&text=Image+not+found'" alt="movie poster">
                </div>
                <div class="uk-card-body uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right">
                    <h3 class="uk-card-title uk-heading-medium">
                        {{movie.Series_Title}}
                    </h3>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>

<div>
    <div class="uk-modal-dialog" id="movie-modal">
        <button class="uk-modal-close-default" type="button" uk-close></button>
    </div>
</div>
